---
import BaseLayout from '../../layouts/BaseLayout.astro';
import DocumentItem from '../../components/DocumentItem.astro';

const pageTitle = "MY TALKS";

const talks = await Astro.glob('./*.md');
talks.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));

const sizes = talks.map((talk) => talk.frontmatter.size).filter((value, index, self) => self.indexOf(value) === index);
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{ pageTitle }</h1>
  <section class="box">
    <h2>Here's what I made, or am working on!</h2>
    <p>Below are most of my current and past talks.</p>
    <p>Sort talks by tags: <a href="/blog/tags/">See all tags</a></p>
    <p>
      I am currently applying to a Call For Paper (CFP) for the <a href="https://sunny-tech.io/" target="_blank" rel="noopener noreferrer">Sunny Tech 2025</a> :).
    </p>
  </section>

  <hr class="title-bar" />

  <div class="grid">
    <div class="block">
      <h4 class="block-title">Speaker experience</h4>
      <hr />
      <ul class="block-content">
        <li><strong>French:</strong> native</li>
        <li><strong>Spanish:</strong> conversational - <em>CEFR: B1</em></li>
        <li><strong>English:</strong> advanced - <em>TOEIC score: 985/990</em>. <em>Date of test: September 2024</em></li>
      </ul>
    </div>
    <div class="block">
      <h4 class="block-title">Talks given</h4>
      <hr />
      <ul class="block-list">
        <li>Empathy</li>
        <li>Teamwork</li>
        <li>Adaptation</li>
        <li>Self-awareness</li>
        <li>Critical thinking</li>
      </ul>
    </div>
  </div>

  <hr />

  <ul>
    {sizes.map((size) => (
      // <>...</> is to return only one thing. Because a map returns only one element.
      <>
      <h3>
        {size === 1
          ? "Deep dives"
          : size === 2
          ? "Moderately sized talks"
          : size === 3
          ? "Concise talks"
          : "Other talks"}
      </h3>
      {talks
        .filter((talk) => talk.frontmatter.size === size)
        .map((talk) => (
          <DocumentItem
            url={talk.url}
            title={talk.frontmatter.title}
            description={talk.frontmatter.abstract}
            date={talk.frontmatter.pubDate}
          />
        ))}
        </>
    ))}
  </ul>
  <hr />
  <ul>
    <h3>All talks by date (most recent first)</h3>
    {talks
      .map((talk) => (
        <DocumentItem date={talk.frontmatter.pubDate} url={talk.url} title={talk.frontmatter.title} description={talk.frontmatter.abstract} />
      ))}
  </ul>
</BaseLayout>
