---
import BaseLayout from '../../layouts/BaseLayout.astro';
import DocumentItem from '../../components/DocumentItem.astro';

import { Image } from 'astro:assets';
import featuredMeImage from '../../images/me-giving-talk.jpg';

const pageTitle = "My talks";

const talks = await Astro.glob('./*.md');
talks.sort((a, b) => Date.parse(b.frontmatter.dateGiven) - Date.parse(a.frontmatter.dateGiven));

const sizes = talks.map((talk) => talk.frontmatter.size).filter((value, index, self) => self.indexOf(value) === index);
---

<BaseLayout pageTitle={"theotchlx | " + pageTitle}>
  <h1>{ pageTitle.toUpperCase() }</h1>
  <div class="super-block">
    <!-- Left side -->
    <div class="left-block">
      <section class="box">
        <h2>Here's what I made, or am working on!</h2>
        <p>Below are most of my current and past talks.</p>
        <p>Sort talks by tags: <a href="/talks/tags/">See all tags</a></p>
      </section>
  
      <hr class="title-bar" />
  
      <p>
        I am currently applying to a Call For Paper (CFP) for the <a href="https://sunny-tech.io/" target="_blank" rel="noopener noreferrer">Sunny Tech 2025</a> :).
      </p>
  
      <div class="grid grid-1">
        <div id="speaker-experience" class="block">
          <h4 class="block-title">Speaker experience</h4>
          <hr />
          <ul class="block-content">
            <li><strong>Talks given:</strong> 1</li>
            <li><strong>Average length:</strong> 20mn</li>
            <li><strong>Conferences and events I've been a speaker at:</strong> 1</li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Right side: image -->
    <div class="right-block">
      <Image src={featuredMeImage} alt="Théo Tchilinguirian" />
    </div>
  </div>
  

  <hr />

  <ul>
    {sizes.map((size) => (
      // <>...</> is to return only one thing. Because a map returns only one element.
      <>
      <h3>
        {size === 1
          ? "Deep dives"
          : size === 2
          ? "Medium-sized talks"
          : size === 3
          ? "Concise talks"
          : "Other talks"}
      </h3>
      {talks
        .filter((talk) => talk.frontmatter.size === size)
        .map((talk) => (
          <DocumentItem
            url={talk.url}
            title={talk.frontmatter.title}
            description={talk.frontmatter.abstract}
            date={talk.frontmatter.dateGiven}
          />
        ))}
        </>
    ))}
  </ul>
  <hr />
  <ul>
    <h3>All talks by date (most recent first)</h3>
    {talks
      .map((talk) => (
        <DocumentItem date={talk.frontmatter.dateGiven} url={talk.url} title={talk.frontmatter.title} description={talk.frontmatter.abstract} />
      ))}
  </ul>
</BaseLayout>

<style>
  .super-block {
    display: block;
    justify-content: start;
    align-items: start;
  }

  .left-block {
    flex: none;
    margin-right: 0;
  }

  .right-block {
    display: none;
    border-radius: 10px;
  }

  /* Media query for bigger screens and grid override styles */
  @media screen and (min-width: 640px) {
    /* Grid override styles */

    .grid-1 {
      --min-column-width: 600px;
    }
  }

  @media screen and (min-width: 1006px) {
    .super-block {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .left-block {
      flex: 1;
      margin-right: 20px;
    }

    .title-bar {
      margin: 1.25em 10em;
    }

    .right-block {
      flex-shrink: 0;
      display: block;
      width: 300px; /* Custom image width. */
      clip-path: inset(0 0 85px 0); /* Cut image bottom. */
      margin-bottom: -85px; /* Move image up from the cut bottom.*/
    }
  }
</style>
