---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Background. Career. Skills. Goals.";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const languages = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{ pageTitle }...</h1>
  <h2>... and my new Astro site!</h2>

  <h2 style="text-align: center">/!\ I'm currently looking for an internship /!\</h2>

  <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

  <p>This site will update as I complete more of the tutorial, so keep checking back and see how my journey is going!</p>

  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {identity.hobbies.length >= 2 &&
      <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    }
  </ul>
  <h2>Here are a few technologies I'm familiar with</h2>
  <p>Programming languages</p>
  <ul class="skill-list">
    {languages.map((language) =>
      <li class="skill">{language}</li>
    )}
  </ul>

  <div class="grid">

    <div class="block">
      <h4 class="block-title">Current occupation</h4>
      <hr />
      <ul class="block-content">
        <li>I study <strong>computer science</strong>, <strong>DevOps</strong> and <strong>cloud technologies</strong> at Polytech Montpellier, a selective engineering school in southern France.</li>
        <li>I also work as a <strong>DevOps apprentice engineer</strong> at Renault Digital, the IT subsidiary of the French automaker based near Paris, France.</li>
      </ul>
    </div>

    <div class="block">
      <h4 class="block-title">Spoken and written languages</h4>
      <hr />
      <ul class="block-content">
        <li><strong>French:</strong> native</li>
        <li><strong>Spanish:</strong> conversational - <em>CEFR: B1</em></li>
        <li><strong>English:</strong> advanced - <em>TOEIC score: 985/990</em>. <em>Date of test: September 2024</em></li>
      </ul>
    </div>

    <div class="block">
      <h4 class="block-title">Soft skills</h4>
      <hr />
      <em>I value these skills highly.</em>
      <ul class="block-list">
        <li>Empathy</li>
        <li>Teamwork</li>
        <li>Adaptation</li>
        <li>Self-awareness</li>
        <li>Critical thinking</li>
      </ul>
    </div>
  </div>

  <div class="block">
    <h4 class="block-title">Interests & hobbies</h4>
    <hr />
    <ul class="block-list">
      <li>Open source</li>
      <li>Research</li>
      <li>Security</li>
      <li>Management</li>
      <li>New technologies</li>
    </ul>
  </div>

  <div class="block">
    <h4 class="block-title">Profesionnal experience</h4>
    <hr />
    <strong>DevOps apprentice engineer</strong>, <em>Renault Digital</em><br />
    Sep 2023 – present | Paris, France
    <ul class="block-list">
      Part of an Agile DevOps team managing K8s on Google Cloud, where I worked on:
      <ul class="block-list">
        <li>Automating SQL/NoSQL database migrations.</li>
        <li>Building infrastructure on GCP.</li>
        <li>Maintaining GitLab CI/CD pipelines.</li>
        <li>Optimizating software.</li>
      </ul>
    </ul>
  </div>

  <div class="block">
    <h4 class="block-title">Education</h4>
    <hr />
    <strong>3rd and 4th years of a 5-year Engineering qualification in Cloud and DevOps technologies and practices</strong>, <em>DO at Polytech Montpellier (Selective Apprenticeship Training)</em><br />
    Sep 2023 – present | Montpellier, France
    <ul class="block-list">
      <strong>Equivalent to M. Eng. Expected graduation: 2026.</strong>
      <ul class="block-list">
        <li>Managing complex cloud-based architecture.</li>
        <li>Developing cloud-native software.</li>
        <li>Producing open source software with teams of up to 15 students.</li>
        <li>Working with the entire chain of testing, CI/CD, improvement and monitoring of applications in distributed environments.</li>
      </ul>
    </ul>

    <br />

    <strong>Equivalent to 2 years of Preparatory Classes leading to a place in one of Polytech's highly selective Engineering schools</strong>, <em>Polytech Montpellier (Selective Engineering School)</em>
    Sep 2021 – Aug 2023 | Montpellier, France
    <ul class="block-list">
      <ul class="block-list">
        <li>Solid knowledge in sciences and technology.</li>
        <li>Engineering practices, critical thinking and problem solving.</li>
        <li>Various software projects and computer science courses.</li>
      </ul>
    STEM, Human sciences, English, Computer science.
    </ul>
  </div>

  {/*
  <div class="block">
    <h4 class="block-title">Goals, objectives</h4>
    <ul class="block-list">
      <li>Promote human rights</li>
      <li>Warn / instruct / promote biodiversity|preservation</li>
      <li> pollution</li>
      <li>Contribute to open source</li>
      <li>Improve scientific research<li>
    </ul>
  </div>
  */}
  </div>

  If you are interested in my profile, you can send me an email at <a href="mailto:theo.tchlx@proton.me"><strong style="color: #89AF88;">theo.tchlx@proton.me</strong></a>. Be yourself!
</BaseLayout>

<style>
  {/* Use is:global to make the style apply on components or layouts called in this page. */}
  h1 {
    color: purple;
    font-size: 4rem;
  }

  .skill-list {
    font-weight: bold;
  }

  .skill {
    display: inline-block;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    background-color: #DADADA;
    color: #2D4A6F;
    border-radius: 0.1em;
    border: 1px solid #2D4A6F;
  }

  .block {
    padding: 0.1em 1em;
    box-shadow: 1px 1px 5px 1px #4F4F4F;
    margin-bottom: 1.2em;
    display: inline-block;
  }

  .block-title {
    margin: 0.25em 0;
  }

  hr {
    margin: 0.25em 0 0.5em 0;
  }

  .block-content {
    list-style: none;
    margin: 0.25em 0;
    padding: 0 0.5em;
  }

  .block-list {
    margin: 0.25em 0.75em;
    padding: 0 0.5em;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    /* display: grid;
    display: flex;
    gap: 1rem;*/
  }
</style>
